@model QLNCKH.Models.ACCOUNT
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>S?a tÁi kho?n</h3>
@using (Html.BeginForm("Edit","QLAccount", FormMethod.Post, new { area = "Admin" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MaAccount)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pass)
        @Html.PasswordFor(m => m.Pass, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HoVaTen)
        @Html.TextBoxFor(m => m.HoVaTen, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MaTypeAccount)
        @Html.DropDownListFor(m => m.MaTypeAccount, new List<SelectListItem> {
            new SelectListItem { Value = "1", Text = "Sinh Viõn" },
            new SelectListItem { Value = "2", Text = "Gi?ng Viõn" },
            new SelectListItem { Value = "3", Text = "Qu?n L?" },
            new SelectListItem { Value = "6", Text = "Admin" }
        }, "Ch?n lo?i", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">L»u</button>
    <a class="btn btn-secondary" href="@Url.Action("Index","QLAccount", new { area = "Admin" })">H?y</a>
}
