
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","QuanLyVien")" aria-expanded="false" aria-controls="@Url.Action("Index","QuanLyVien")">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Trang Chủ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("DsDeCuong","QuanLyVien")" aria-expanded="false" aria-controls="@Url.Action("DsDeCuong","QuanLyVien")">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Danh sách đề cương</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("DsDeTai","QuanLyVien")" aria-expanded="false" aria-controls="@Url.Action("DsDeTai","QuanLyVien")">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Danh sách đề tài</span>
            </a>
        </li>

        @*<li class="nav-item">
                <a class="nav-link collapse" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="icon-layout menu-icon"></i>
                    <span class="menu-title">Danh sách đề tài</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="#">Phân Công Đề Tài</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#">Phân Công Hội Đồng</a></li>
                    </ul>
                </div>
            </li>*@
        @*<li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                    <i class="icon-bar-graph menu-icon"></i>
                    <span class="menu-title">Đề Tài </span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="error">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="#"> Phân Công Đề Tài </a></li>
                        <li class="nav-item"> <a class="nav-link" href="#"> Phân Công Hội Đồng </a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                    <i class="icon-columns menu-icon"></i>
                    <span class="menu-title">Xem Đánh Giá</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="form-elements">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="#">Điểm Đề Cương </a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Điểm Đề Tài</a></li>
                        <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Nhận Xét Của GV</a></li>
                    </ul>
                </div>
            </li>*@
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Danh Sách Giảng Viên</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    @Html.Action("PartialMenuKhoa", "StudentDB")
                </ul>
            </div>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ban" aria-expanded="false" aria-controls="error">
                    <i class="icon-ban menu-icon"></i>
                    <span class="menu-title">Sản Phẩm Sinh Viên </span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ban">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="~/StudentDB/StudentDB"> Video Tham Khảo </a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> Mẫu Báo Cáo </a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/documentation/documentation.html">
                    <i class="icon-paper menu-icon"></i>
                    <span class="menu-title">Thư Viện</span>
                </a>
            </li>*@
    </ul>
</nav>
<!-- partial -->
