@model QLNCKH.Models.SINHVIEN

@{
    ViewBag.Title = "ProfileSV";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<style>
    .card {
        background: #654ea3;
        background: linear-gradient(to right, #e96443, #904e95);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-weight: 600;
        font-size: 15px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form action="/StudentDB/ProfileSV" method="post">
                        <div class="container rounded bg-white mt-5 mb-5">
                            <div class="row">
                                <div class="col-md-3 border-right">
                                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Sinh Viên</span><span class="text-black-50">@Html.DisplayFor(model => model.Email)</span><span> </span></div>
                                </div>
                                <div class="col-md-5 border-right">
                                    <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="text-right" style="font-weight:700">Thông tin cá nhân</h4>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Họ tên</label><input type="text" class="form-control" placeholder="first name" readonly value="@Html.DisplayFor(model => model.HoTen)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Mã số sinh viên</label><input type="text" class="form-control" readonly value="@Html.DisplayFor(model => model.MaSoSinhVien)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Ngày sinh</label><input type="text" class="form-control" readonly placeholder="Ngày sinh" value="@Model.NgaySinh.Value.ToString("MM/dd/yyyy") "></div> 
                                        </div>
                                        @*<div class="col-md-12"><label class="labels">Giới tính</label><input type="text" class="form-control" value="@Html.DisplayFor(model => model.GioiTinh)"></div>*@
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Số điện thoại</label><input name="sSDT" type="text" class="form-control" placeholder="Số điện thoại" value="@Html.DisplayFor(model => model.SDT)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Căn cước công dân</label><input name="sCCCD" type="text" class="form-control" placeholder="Căn cước công dân" value="@Html.DisplayFor(model => model.CCCD)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Địa chỉ</label><input name="sDiaChi" type="text" class="form-control" placeholder="Địa chỉ" value="@Html.DisplayFor(model => model.DiaChi)"></div>
                                        </div>


                                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Lưu thông tin</button></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center experience" style=" margin-bottom: -20px; "><span style="font-weight:700">Thông tin khác</span><span style="font-weight:700" class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Sở thích</span></div><br>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Mã ngành</label><input type="text" class="form-control" readonly placeholder="Mã Ngành" value="@Html.DisplayFor(model => model.MaNganh)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Lớp</label><input type="text" class="form-control" readonly placeholder="Lớp" value="@Html.DisplayFor(model => model.Lop)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Niên khóa</label><input type="text" class="form-control" readonly placeholder="Niên khóa" value="@Html.DisplayFor(model => model.NienKhoa)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Số tài khoản ngân hàng</label><input name="sTKNH" type="text" class="form-control" placeholder="Số TK Ngân Hàng" value="@Html.DisplayFor(model => model.TKNganHang)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Chi nhánh ngân hàng</label><input name="sCNNH" type="text" class="form-control" placeholder="Chi nhánh ngân hàng" value="@Html.DisplayFor(model => model.ChiNhanhNganHang)"></div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12"><label class="labels">Trình độ học vấn</label><input type="text" class="form-control" placeholder="Năm 2" value=""></div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
